<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>



<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Ai company</a>
            <div class="nav-content">
                <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" href="/dataDisplay">
                    <i class="material-icons">data_usage</i>
                </a>
            </div>
        </div>
    </nav>
    <div class="container">

        <form action="/dataDisplay" method="POST" enctype="multipart/form-data">


            <label for="start">Start date:</label>
            <input type="date" id="start" name="date-start">

            <label for="start">End date:</label>
            <input type="date" id="end" name="date-end">

            <button class="btn waves-effect right waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>


        </form>

        {% if error is defined %}
        <h5>{{error.msg}}</h5>
        {% endif %}

        {% if somedata is defined %}
        <table>
            <thead>
                <th>image_name</th>
                <th>timestamp</th>
                <th>object_name</th>
                <th>x_min</th>
                <th>y_min</th>
                <th>x_max</th>
                <th>y_max</th>
            </thead>    
                <tbody>
                
                    {% for i in range(0,somedata | length)%}
                        
                    <tr>
                        <td rowspan={{ somedata[i].objlen }} >{{somedata[i]['imagename']}}</td>
                        
                        <!-- <td rowspan="5" >{{somedata[i]['timemmddyy']}}</td> -->
                        <td rowspan={{ somedata[i].objlen }}>{{somedata[i]['timemmddyy']}}</td>
                        {% for j in somedata[i]['obj']%}
                            
                            <tr>
                                <td>{{j.name}}</td>
                                <td>{{j.xmin}}</td>
                                <td>{{j.xmax}}</td>
                                <td>{{j.ymin}}</td>
                                <td>{{j.ymax}}</td>
                            </tr>
                        {% endfor %}    
                    </tr>
                    {% endfor %}
            </tbody>
        </table>

        {% endif %}


    </div>
</body>


<script>

</script>

</html>